<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/CSS/blog.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="blogger b icon"></i> BLOG SITE</div>
                <a class="item" href="/">HOME</a>
                <a class="item" href="/blog/new">NEW POST</a>
            </div>
        </div>